@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    transition: all .3s ease;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
}

/* Header style start now */

header{
   
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
    padding-top: 87px;

}
.navbar > .brand > h3{
    font-size: 24px;
    font-weight: bold;
    color: #3A3A3A;
}

.navbar > nav > ul > li{
    display: inline-block;
}

.navbar > nav > ul > li > a{
    padding: 0 35px;
    padding-right: 0;
    text-transform: capitalize;
    font-weight: 600;
    color: #3A3A3A;
}

/* Header style end now */

/* Hero section style start now */
.hero-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
    padding-top: 94px;
}

/* hero left style start */
.hero-left{
    width: 50%;
}
.hero-left > h1{
    font-size: 52px;
    line-height: 70px;
    color: #3A3A3A;
}
.hero-left > p{
    font-weight: 600;
    line-height: 24px;
    padding: 16px 0 ;
    color: #3A3A3A;
}
.btn{
    border: none;
    width: 196px;
    height: 44px;
    border-radius: 41px;
    background: #E02C6D;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}
/* hero left style end*/


/* hero right style start*/

.hero-right{
    width: 50%;
}
.hero-right{
    text-align: center;
}
.hero-right > .circle{
    position: absolute;
    width: 475px;
    height: 475px;
}
.hero-right > .cemara{
    width: 414px;
    height: 414px;
    position: relative;
    top: 20px;
}

/* hero right style end*/



/* Hero section style end now */